// 공통부분
.tit_bridge{
  display: inline-block;
  width: 140px;
  height: 40px;
  background-color: skyblue;
}



// Home.js
.br-title{
  width: 140px;
  height: 40px;
  margin: 0 auto;
}
.wrap_search{
  width: 600px;
  margin: 0 auto;
}