// 공통부분
.tit_bridge{
  display: inline-block;
  width: 140px;
  height: 40px;
  background-color: skyblue;
}
.content-article{
  padding-bottom: 100px;
}



// Home.js
.br-title{
  width: 140px;
  height: 40px;
  margin: 0 auto;
}
.wrap_search{
  width: 600px;
  margin: 0 auto;
}

// 
.cont_movie{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px;
  gap: 16px;
  width: 1216px;
  margin: 0 auto;
}